# IntelliJ IDEA
.idea/
*.iml

# Python / Jupyter cache
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
*.egg-info/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Temporary
*.tmp
*.swp

# Environment files and folders
.env
.venv/
env/

# Common data/output files
*.csv
*.xlsx


